<section class="container pt-[70px] xl:pt-[100px] flex flex-col gap-[30px] sm:gap-[50px] overflow-hidden">
  <div class="flex flex-col gap-5 justify-center items-center">
    <p data-aos="zoom-in" class="subtitle text-body2 sm:text-body1 text-primary-light relative py-[5px] px-5">
      Why Choose Us
    </p>
    <div class="">
      <div
        class="headline text-center text-[28px] sm:text-[40px] lg:text-[44px] leading-[38px] sm:leading-[50px] lg:leading-[56px] font-bold text-secondary-white">
        Why Leading Brands Choose
      </div>
      <div
        class="headline text-center text-[28px] sm:text-[40px] lg:text-[44px] leading-[38px] sm:leading-[50px] lg:leading-[56px] font-bold text-secondary-white">
        Our Expertise
      </div>
    </div>
  </div>

  <div class="grid sm:grid-cols-2 xl:grid-cols-3 gap-5 items-center">
    <div data-aos="flip-left"
      class="relative w-[288px] sm:w-full mx-auto sm:mx-0 group py-5 md:py-[30px] px-[15px] md:px-5 border border-primary-light rounded-[30px] hover:bg-secondary-dark hover:shadow-[0_0_20px_#009688] transition-all duration-500 ease-linear overflow-hidden">
      <span class="card-border"></span>
      <div class="flex items-center justify-center">
        <span class="flex-1 h-[1px] bg-primary-light"></span>
        <div
          class="p-[5px] border border-transparent group-hover:border-primary-light rounded-[60px] transition-all duration-300 ease-linear">
          <img src="../assets/images/chooseUs/choose1.svg" alt="icon" class="w-[60px]" />
        </div>
        <span class="flex-1 h-[1px] bg-primary-light"></span>
      </div>

      <h5
        class="text-[18px] md:text-[21px] lg:text-[24px] xl:text-[23px] 2xl:text-[24px] leading-26px md:leading-7 lg:leading-8 font-bold text-secondary-white mt-5 lg:mt-[25px]">
        8+ Years Domain Experience
      </h5>

      <ul class="mt-4 sm:mt-5 flex flex-col gap-[10px] md:gap-[15px]">
        <li class="flex justify-start items-center gap-[10px]">
          <i class="ri-circle-fill text-[10px] text-primary-light"></i>
          <p class="text-body3 md:text-body2">
            Builds trust and predictability.
          </p>
        </li>
        <li class="flex justify-start items-center gap-[10px]">
          <i class="ri-circle-fill text-[10px] text-primary-light"></i>
          <p class="text-body3 md:text-body2">
            Reduces support and reschedules.
          </p>
        </li>
        <li class="flex justify-start items-center gap-[10px]">
          <i class="ri-circle-fill text-[10px] text-primary-light"></i>
          <p class="text-body3 md:text-body2">
            Improves customer satisfaction scores.
          </p>
        </li>
        <li class="flex justify-start items-center gap-[10px]">
          <i class="ri-circle-fill text-[10px] text-primary-light"></i>
          <p class="text-body3 md:text-body2">
            Stabilizes planning and operations.
          </p>
        </li>
        <li class="flex justify-start items-center gap-[10px]">
          <i class="ri-circle-fill text-[10px] text-primary-light"></i>
          <p class="text-body3 md:text-body2">
            Minimizes downstream delays domino.
          </p>
        </li>
      </ul>
    </div>

    <div data-aos="flip-left"
      class="relative w-[288px] sm:w-full mx-auto sm:mx-0 group py-5 md:py-[30px] px-[15px] md:px-5 border border-primary-light rounded-[30px] hover:bg-secondary-dark hover:hover:shadow-[0_0_20px_#009688] transition-all duration-500 ease-linear overflow-hidden">
      <span class="card-border"></span>
      <div class="flex items-center justify-center">
        <span class="flex-1 h-[1px] bg-primary-light"></span>
        <div
          class="p-[5px] border border-transparent group-hover:border-primary-light rounded-[60px] transition-all duration-300 ease-linear">
          <img src="../assets/images/chooseUs/choose2.svg" alt="icon" class="w-[60px]" />
        </div>
        <span class="flex-1 h-[1px] bg-primary-light"></span>
      </div>

      <h5
        class="text-[18px] md:text-[21px] lg:text-[24px] xl:text-[23px] 2xl:text-[24px] leading-26px md:leading-7 lg:leading-8 font-bold text-secondary-white mt-5 lg:mt-[25px]">
        Cross-Functional Team
      </h5>

      <ul class="mt-4 sm:mt-5 flex flex-col gap-[10px] md:gap-[15px]">
        <li class="flex justify-start items-center gap-[10px]">
          <i class="ri-circle-fill text-[10px] text-primary-light"></i>
          <p class="text-body3 md:text-body2">
            Builds trust and predictability.
          </p>
        </li>
        <li class="flex justify-start items-center gap-[10px]">
          <i class="ri-circle-fill text-[10px] text-primary-light"></i>
          <p class="text-body3 md:text-body2">
            Reduces support and reschedules.
          </p>
        </li>
        <li class="flex justify-start items-center gap-[10px]">
          <i class="ri-circle-fill text-[10px] text-primary-light"></i>
          <p class="text-body3 md:text-body2">
            Improves customer satisfaction scores.
          </p>
        </li>
        <li class="flex justify-start items-center gap-[10px]">
          <i class="ri-circle-fill text-[10px] text-primary-light"></i>
          <p class="text-body3 md:text-body2">
            Stabilizes planning and operations.
          </p>
        </li>
        <li class="flex justify-start items-center gap-[10px]">
          <i class="ri-circle-fill text-[10px] text-primary-light"></i>
          <p class="text-body3 md:text-body2">
            Minimizes downstream delays domino.
          </p>
        </li>
      </ul>
    </div>

    <div data-aos="flip-left"
      class="relative w-[288px] sm:w-full mx-auto sm:mx-0 group py-5 md:py-[30px] px-[15px] md:px-5 border border-primary-light rounded-[30px] hover:bg-secondary-dark hover:hover:shadow-[0_0_20px_#009688] transition-all duration-500 ease-linear overflow-hidden">
      <span class="card-border"></span>
      <div class="flex items-center justify-center">
        <span class="flex-1 h-[1px] bg-primary-light"></span>
        <div
          class="p-[5px] border border-transparent group-hover:border-primary-light rounded-[60px] transition-all duration-300 ease-linear">
          <img src="../assets/images/chooseUs/choose3.svg" alt="icon" class="w-[60px]" />
        </div>
        <span class="flex-1 h-[1px] bg-primary-light"></span>
      </div>

      <h5
        class="text-[18px] md:text-[21px] lg:text-[24px] xl:text-[23px] 2xl:text-[24px] leading-26px md:leading-7 lg:leading-8 font-bold text-secondary-white mt-5 lg:mt-[25px]">
        95% On-Time Delivery
      </h5>

      <ul class="mt-4 sm:mt-5 flex flex-col gap-[10px] md:gap-[15px]">
        <li class="flex justify-start items-center gap-[10px]">
          <i class="ri-circle-fill text-[10px] text-primary-light"></i>
          <p class="text-body3 md:text-body2">
            Builds trust and predictability.
          </p>
        </li>
        <li class="flex justify-start items-center gap-[10px]">
          <i class="ri-circle-fill text-[10px] text-primary-light"></i>
          <p class="text-body3 md:text-body2">
            Reduces support and reschedules.
          </p>
        </li>
        <li class="flex justify-start items-center gap-[10px]">
          <i class="ri-circle-fill text-[10px] text-primary-light"></i>
          <p class="text-body3 md:text-body2">
            Improves customer satisfaction scores.
          </p>
        </li>
        <li class="flex justify-start items-center gap-[10px]">
          <i class="ri-circle-fill text-[10px] text-primary-light"></i>
          <p class="text-body3 md:text-body2">
            Stabilizes planning and operations.
          </p>
        </li>
        <li class="flex justify-start items-center gap-[10px]">
          <i class="ri-circle-fill text-[10px] text-primary-light"></i>
          <p class="text-body3 md:text-body2">
            Minimizes downstream delays domino.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>