<footer
  class="relative z-[0]   md:py-10 md:px-10 xl:px-[70px] bg-[url('/assets/images/footer2bg.png')] bg-cover bg-center bg-no-repeat  overflow-hidden">
  <div
    class="container px-[16px] md:px-10  2xl:px-[60px] border-2 py-[30px] border-primary-light rounded-[30px] bg-[#FFFFFF03]  backdrop-blur-[30px] ">

    <div data-aos="fade-up"
      class="flex  justify-start lg:justify-between flex-col lg:flex-row items-start lg:items-center pb-[30px] border-b gap-5 lg:gap-0 border-secondary-white">
      <div class="flex justify-start items-center gap-[10px] ">
        <div class="w-1 h-[35px] sm:h-[42px] rounded-[5px] bg-primary-light "></div>
        <h3
          class=" text-[22px] sm:text-[28px] xl:text-[36px] leading-[28px] sm:leading-[34px] xl:leading-[42px] font-bold text-secondary-white">
          Subscribe for Newsletter</h3>
      </div>
      <form action="submit"
        class=" w-full lg:w-[50%] py-[10px] lg:py-[13px] pr-[10px] lg:pr-[13px] pl-5 lg:pl-[30px] bg-primary-dark border border-primary-light rounded-[50px] flex justify-between items-center">
        <input required type="email" placeholder="Enter Your Email"
          class="text-body2 font-medium text-secondary-light bg-primary-dark focus:outline-none   ">
        <button type="submit"
          class="w-[32px] sm:w-[40px] h-[32px] sm:h-[40px] border-2 border-primary-light text-center inline-flex justify-center items-center rounded-[30px]">
          <i class="ri-arrow-right-line text-[16px] leading-[40px] text-primary-light text-center "></i>
        </button>
      </form>
    </div>

    <div
      class="sm:mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4  gap-y-10 gap-x-10  lg:gap-x-0 pt-[30px] ">

      <div data-aos="zoom-in" class="flex flex-col  gap-5 sm:gap-[30px] xl:gap-10  max-w-[300px] lg:max-w-full">
        <img class="max-w-[70%] lg:max-w-full" src="../assets/images/footer2-logo.svg" alt="logo">
        <p class="text-body2 sm:text-body1 font-medium text-secondary-light">Sed pharetra sit neque dictumst aliquam id.
          In at montes elementum volutpat aliquet ipsum eleifend massa molestie. Pellentesque mauris non arcu tincidunt.
        </p>
        <div class="flex justify-start items-center gap-[15px] sm:gap-5">
          <a href=""><i
              class="ri-facebook-fill text-[20px] sm:text-[22px] leading-5 sm:leading-[22px] text-secondary-white hover:text-primary-light p-[9px] sm:p-[12px] bg-primary-light hover:bg-secondary-white rounded-[30px] transition duration-300 ease-in-out   "></i></a>
          <a href=""><i
              class="ri-instagram-fill text-[20px] sm:text-[22px] leading-5 sm:leading-[22px] text-secondary-white hover:text-primary-light p-[9px] sm:p-[12px] bg-primary-light hover:bg-secondary-white rounded-[30px] transition duration-300 ease-in-out "></i></a>
          <a href=""><i
              class="ri-twitter-x-fill text-[20px] sm:text-[22px] leading-5 sm:leading-[22px] text-secondary-white hover:text-primary-light p-[9px] sm:p-[12px] bg-primary-light hover:bg-secondary-white rounded-[30px] transition duration-300 ease-in-out "></i></a>
          <a href=""><i
              class="ri-whatsapp-fill text-[20px] sm:text-[22px] leading-5 sm:leading-[22px] text-secondary-white hover:text-primary-light p-[9px] sm:p-[12px] bg-primary-light hover:bg-secondary-white rounded-[30px] transition duration-300 ease-in-out "></i></a>
        </div>
      </div>

      <div data-aos="zoom-in" class="flex flex-col gap-5 sm:gap-[30px] xl:gap-10  lg:pl-[60px]">
        <div class="flex justify-start items-center gap-[5px] sm:gap-[10px]">
          <div class="w-1 h-[30px] bg-primary-light rounded-[5px]">
          </div>
          <h5 class="text-secondary-white capitalize text-[24px] leading-[30px] font-semibold">Quick Links</h5>
        </div>

        <ul class="flex flex-col gap-3 sm:gap-5">
          <li class="flex justify-start items-center gap-0">
            <a href="home.html" class="hover-link  text-white hover:text-primary-light text-body1 font-medium">
              Home
            </a>
          </li>
          <li class="flex justify-start items-center gap-0">
            <a href="about.html" class="hover-link  text-white hover:text-primary-light text-body1 font-medium">
              About
            </a>
          </li>
          <li class="flex justify-start items-center gap-0">
            <a href="service.html" class="hover-link  text-white hover:text-primary-light text-body1 font-medium">
              Services
            </a>
          </li>
          <li class="flex justify-start items-center gap-0">
            <a href="blog.html" class="hover-link  text-white hover:text-primary-light text-body1 font-medium">
              Blog
            </a>
          </li>
          <li class="flex justify-start items-center gap-0">
            <a href="training.html" class="hover-link  text-white hover:text-primary-light text-body1 font-medium">
              Training
            </a>
          </li>
          <li class="flex justify-start items-center gap-0">
            <a href="faq.html" class="hover-link  text-white hover:text-primary-light text-body1 font-medium">
              FAQs
            </a>
          </li>
        </ul>
      </div>

      <div data-aos="zoom-in" class="flex flex-col gap-5 sm:gap-[30px] xl:gap-10  lg:pl-[20px]">
        <div class="flex justify-start items-center gap-[5px] sm:gap-[10px]">
          <div class="w-1 h-[30px] bg-primary-light rounded-[5px]">
          </div>
          <h5 class="text-secondary-white capitalize text-[24px] leading-[30px] font-semibold">Services</h5>
        </div>

        <ul class="flex flex-col gap-3 sm:gap-5">
          <li class="flex justify-start items-center gap-0">
            <a href="services.html" class="hover-link  text-white hover:text-primary-light text-body1 font-medium">
              Personal Training
            </a>
          </li>
          <li class="flex justify-start items-center gap-0">
            <a href="service.html" class="hover-link  text-white hover:text-primary-light text-body1 font-medium">
              Power Lifting
            </a>
          </li>
          <li class="flex justify-start items-center gap-0">
            <a href="service.html" class="hover-link  text-white hover:text-primary-light text-body1 font-medium">
              Gym & Fitness Training
            </a>
          </li>
          <li class="flex justify-start items-center gap-0">
            <a href="service.html" class="hover-link  text-white hover:text-primary-light text-body1 font-medium">
              Weight Lifting
            </a>
          </li>
          <li class="flex justify-start items-center gap-0">
            <a href="service.html" class="hover-link  text-white hover:text-primary-light text-body1 font-medium">
              Body Balance
            </a>
          </li>
          <li class="flex justify-start items-center gap-0">
            <a href="service.html" class="hover-link  text-white hover:text-primary-light text-body1 font-medium">
              Muscle Building
            </a>
          </li>
        </ul>
      </div>

      <div data-aos="zoom-in" class="flex flex-col  gap-5 sm:gap-10">
        <div class="flex justify-start items-center gap-[5px] sm:gap-[10px]">
          <div class="w-1 h-[30px] bg-primary-light rounded-[5px]">
          </div>
          <h5 class="text-secondary-white capitalize text-[24px] leading-[30px] font-semibold">Contact</h5>
        </div>

        <div class="flex justify-start items-start gap-[15px] md:gap-5">
          <img class="max-w-[25px] sm:max-w-[35px] md:max-w-full" src="../assets/images/footer2-1.svg" alt="mapIcon">
          <div class="flex flex-col gap-[10px]">
            <div class="flex justify-start items-center gap-[10px]  ">
              <div class="w-[3px] h-[26px] rounded-[3px] bg-primary-light">
              </div>
              <h5
                class="text-secondary-white capitalize text-[18px] sm:text-[20px] leading-[24px] sm:leading-[26px] font-semibold">
                GYM Address
              </h5>

            </div>
            <p class="text-body2 sm:text-body1 text-secondary-light font-medium">100 Thruway Plaza, Cheektowaga NY 14225
            </p>
          </div>
        </div>

        <div class="flex justify-start items-start gap-[15px] md:gap-5">
          <img class="max-w-[25px] sm:max-w-[35px] md:max-w-full" src="../assets/images/footer2-2.svg" alt="mapIcon">
          <div class="flex flex-col gap-[10px]">
            <div class="flex justify-start items-center gap-[10px]  ">
              <div class="w-[3px] h-[26px] rounded-[3px] bg-primary-light">
              </div>
              <h5
                class="text-secondary-white capitalize text-[18px] sm:text-[20px] leading-[24px] sm:leading-[26px] font-semibold">
                Phone Number
              </h5>

            </div>
            <p class="text-body2 sm:text-body1 text-secondary-light font-medium">+(072) 9658 600774
            </p>
          </div>
        </div>

        <div class="flex justify-start items-start gap-[15px] md:gap-5">
          <img class="max-w-[25px] sm:max-w-[35px] md:max-w-full" src="../assets/images/footer2-3.svg" alt="mapIcon">
          <div class="flex flex-col gap-[10px]">
            <div class="flex justify-start items-center gap-[10px]  ">
              <div class="w-[3px] h-[26px] rounded-[3px] bg-primary-light">
              </div>
              <h5
                class="text-secondary-white capitalize text-[18px] sm:text-[20px] leading-[24px] sm:leading-[26px] font-semibold">
                Open Timings
              </h5>

            </div>
            <p class="text-body2 sm:text-body1 text-secondary-light font-medium">06:00 AM - 11:00 PM (Mon - Sun)
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

</footer>