<div
  class="loader fixed top-0 left-0 w-full h-full flex items-center justify-center z-[9999] bg-gradient-to-b from-[#000000] to-[#004a4399] bg-opacity-50 backdrop-blur-[50px]">
  <!-- From Uiverse.io by SangeethSujith -->
  <div class="banter-loader">
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
  </div>

</div>