<section class="container pt-[70px] xl:pt-[100px] flex flex-col gap-[30px] sm:gap-[50px] overflow-hidden">
    <div class="flex flex-col gap-5 justify-center items-center">
        <p data-aos="zoom-in" class="subtitle text-body2 sm:text-body1 text-primary-light relative py-[5px] px-5">
            Our Process
        </p>
        <h2 data-aos="fade-up"
            class=" headline text-center text-[28px] sm:text-[40px] lg:text-[44px] leading-[38px] sm:leading-[50px] lg:leading-[56px] font-bold text-secondary-white">
            From Idea To Impact: A Five‑Stage
        </h2>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 items-end gap-[30px] lg:gap-5">
        <img data-aos="zoom-in-up" src="../assets/images/tabImg.png" alt="tab" class="w-[288px] sm:w-[600px] lg:w-full">

        <div data-aos="fade-left" class="hs-accordion-group">
            <div class="hs-accordion active bg-gradient-to-b from-[rgba(0,150,136,0.3)] to-[rgba(122,188,155,0.3)]"
                id="hs-basic-no-arrow-heading-one">
                <button
                    class="hs-accordion-toggle hs-accordion-active:text-secondary-white hs-accordion-active:border-x  p-3 sm:p-4 xl:p-5 border-t border-primary-light inline-flex items-center gap-x-3 w-full font-bold text-[20px] sm:text-[28px] xl:text-[36px] leading-7 sm:leading-[34px] xl:leading-[46px] text-start text-secondary-white    focus:outline-hidden    disabled:opacity-50 disabled:pointer-events-none"
                    aria-expanded="true" aria-controls="hs-basic-no-arrow-collapse-one">
                    1. Discover & Align
                </button>
                <div id="hs-basic-no-arrow-collapse-one"
                    class="hs-accordion-content w-full overflow-hidden border-x border-b border-primary-light transition-[height] duration-300"
                    role="region" aria-labelledby="hs-basic-no-arrow-heading-one">
                    <ul
                        class="flex flex-col gap-[5px] sm:gap-[10px] pl-5 sm:pl-10 xl:pl-[50px] pb-4 xl:pb-5 pr-4 xl:pr-5">
                        <li class="flex justify-start items-center gap-[10px]">
                            <i class="ri-circle-fill text-[10px] text-primary-light"></i>
                            <p class="text-body2 sm:text-body1 font-bold text-secondary-white">Clarify goals and
                                metrics.</p>
                        </li>
                        <li class="flex justify-start items-center gap-[10px]">
                            <i class="ri-circle-fill text-[10px] text-primary-light"></i>
                            <p class="text-body2 sm:text-body1 font-bold text-secondary-white">Map stakeholders and
                                risks.</p>
                        </li>
                        <li class="flex justify-start items-center gap-[10px]">
                            <i class="ri-circle-fill text-[10px] text-primary-light"></i>
                            <p class="text-body2 sm:text-body1 font-bold text-secondary-white">Audit data and workflows.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="hs-accordion bg-gradient-to-b from-[rgba(0,150,136,0.3)] to-[rgba(122,188,155,0.3)]"
                id="hs-basic-no-arrow-heading-two">
                <button
                    class="hs-accordion-toggle hs-accordion-active:text-secondary-white hs-accordion-active:border-x   p-3 sm:p-4 xl:p-5 border-t border-primary-light inline-flex items-center gap-x-3 w-full font-bold text-[20px] sm:text-[28px] xl:text-[36px] leading-7 sm:leading-[34px] xl:leading-[46px] text-start text-secondary-white    focus:outline-hidden    disabled:opacity-50 disabled:pointer-events-none"
                    aria-expanded="false" aria-controls="hs-basic-no-arrow-collapse-two">
                    2. Define & Prototype
                </button>
                <div id="hs-basic-no-arrow-collapse-two"
                    class="hs-accordion-content hidden w-full overflow-hidden border-x border-b border-primary-light transition-[height] duration-300"
                    role="region" aria-labelledby="hs-basic-no-arrow-heading-two">
                    <ul
                        class="flex flex-col gap-[5px] sm:gap-[10px] pl-5 sm:pl-10 xl:pl-[50px] pb-4 xl:pb-5 pr-4 xl:pr-5">
                        <li class="flex justify-start items-center gap-[10px]">
                            <i class="ri-circle-fill text-[10px] text-primary-light"></i>
                            <p class="text-body2 sm:text-body1 font-bold text-secondary-white">Clarify goals and
                                metrics.</p>
                        </li>
                        <li class="flex justify-start items-center gap-[10px]">
                            <i class="ri-circle-fill text-[10px] text-primary-light"></i>
                            <p class="text-body2 sm:text-body1 font-bold text-secondary-white">Map stakeholders and
                                risks.</p>
                        </li>
                        <li class="flex justify-start items-center gap-[10px]">
                            <i class="ri-circle-fill text-[10px] text-primary-light"></i>
                            <p class="text-body2 sm:text-body1 font-bold text-secondary-white">Audit data and workflows.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="hs-accordion bg-gradient-to-b from-[rgba(0,150,136,0.3)] to-[rgba(122,188,155,0.3)]"
                id="hs-basic-no-arrow-heading-three">
                <button
                    class="hs-accordion-toggle hs-accordion-active:text-secondary-white hs-accordion-active:border-x   p-3 sm:p-4 xl:p-5 border-t border-primary-light inline-flex items-center gap-x-3 w-full font-bold text-[20px] sm:text-[28px] xl:text-[36px] leading-7 sm:leading-[34px] xl:leading-[46px] text-start text-secondary-white    focus:outline-hidden    disabled:opacity-50 disabled:pointer-events-none"
                    aria-expanded="false" aria-controls="hs-basic-no-arrow-collapse-three">
                    3. Build & Integrate
                </button>
                <div id="hs-basic-no-arrow-collapse-three"
                    class="hs-accordion-content hidden w-full overflow-hidden border-x border-b border-primary-light transition-[height] duration-300"
                    role="region" aria-labelledby="hs-basic-no-arrow-heading-three">
                    <ul
                        class="flex flex-col gap-[5px] sm:gap-[10px] pl-5 sm:pl-10 xl:pl-[50px] pb-4 xl:pb-5 pr-4 xl:pr-5">
                        <li class="flex justify-start items-center gap-[10px]">
                            <i class="ri-circle-fill text-[10px] text-primary-light"></i>
                            <p class="text-body2 sm:text-body1 font-bold text-secondary-white">Clarify goals and
                                metrics.</p>
                        </li>
                        <li class="flex justify-start items-center gap-[10px]">
                            <i class="ri-circle-fill text-[10px] text-primary-light"></i>
                            <p class="text-body2 sm:text-body1 font-bold text-secondary-white">Map stakeholders and
                                risks.</p>
                        </li>
                        <li class="flex justify-start items-center gap-[10px]">
                            <i class="ri-circle-fill text-[10px] text-primary-light"></i>
                            <p class="text-body2 sm:text-body1 font-bold text-secondary-white">Audit data and workflows.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="hs-accordion bg-gradient-to-b from-[rgba(0,150,136,0.3)] to-[rgba(122,188,155,0.3)]"
                id="hs-basic-no-arrow-heading-four">
                <button
                    class="hs-accordion-toggle hs-accordion-active:text-secondary-white hs-accordion-active:border-x   p-3 sm:p-4 xl:p-5 border-t border-primary-light inline-flex items-center gap-x-3 w-full font-bold text-[20px] sm:text-[28px] xl:text-[36px] leading-7 sm:leading-[34px] xl:leading-[46px] text-start text-secondary-white    focus:outline-hidden    disabled:opacity-50 disabled:pointer-events-none"
                    aria-expanded="false" aria-controls="hs-basic-no-arrow-collapse-four">
                    4. Validate & Launch
                </button>
                <div id="hs-basic-no-arrow-collapse-four"
                    class="hs-accordion-content hidden w-full overflow-hidden border-x border-b border-primary-light transition-[height] duration-300"
                    role="region" aria-labelledby="hs-basic-no-arrow-heading-four">
                    <ul
                        class="flex flex-col gap-[5px] sm:gap-[10px] pl-5 sm:pl-10 xl:pl-[50px] pb-4 xl:pb-5 pr-4 xl:pr-5">
                        <li class="flex justify-start items-center gap-[10px]">
                            <i class="ri-circle-fill text-[10px] text-primary-light"></i>
                            <p class="text-body2 sm:text-body1 font-bold text-secondary-white">Clarify goals and
                                metrics.</p>
                        </li>
                        <li class="flex justify-start items-center gap-[10px]">
                            <i class="ri-circle-fill text-[10px] text-primary-light"></i>
                            <p class="text-body2 sm:text-body1 font-bold text-secondary-white">Map stakeholders and
                                risks.</p>
                        </li>
                        <li class="flex justify-start items-center gap-[10px]">
                            <i class="ri-circle-fill text-[10px] text-primary-light"></i>
                            <p class="text-body2 sm:text-body1 font-bold text-secondary-white">Audit data and workflows.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="hs-accordion bg-gradient-to-b from-[rgba(0,150,136,0.3)] to-[rgba(122,188,155,0.3)]"
                id="hs-basic-no-arrow-heading-five">
                <button
                    class="hs-accordion-toggle hs-accordion-active:text-secondary-white hs-accordion-active:border-x   p-3 sm:p-4 xl:p-5 border-t border-primary-light inline-flex items-center gap-x-3 w-full font-bold text-[20px] sm:text-[28px] xl:text-[36px] leading-7 sm:leading-[34px] xl:leading-[46px] text-start text-secondary-white    focus:outline-hidden    disabled:opacity-50 disabled:pointer-events-none"
                    aria-expanded="false" aria-controls="hs-basic-no-arrow-collapse-five">
                    5. Measure & Improve
                </button>
                <div id="hs-basic-no-arrow-collapse-five"
                    class="hs-accordion-content hidden w-full overflow-hidden border-x border-b border-primary-light transition-[height] duration-300"
                    role="region" aria-labelledby="hs-basic-no-arrow-heading-five">
                    <ul
                        class="flex flex-col gap-[5px] sm:gap-[10px] pl-5 sm:pl-10 xl:pl-[50px] pb-4 xl:pb-5 pr-4 xl:pr-5">
                        <li class="flex justify-start items-center gap-[10px]">
                            <i class="ri-circle-fill text-[10px] text-primary-light"></i>
                            <p class="text-body2 sm:text-body1 font-bold text-secondary-white">Clarify goals and
                                metrics.</p>
                        </li>
                        <li class="flex justify-start items-center gap-[10px]">
                            <i class="ri-circle-fill text-[10px] text-primary-light"></i>
                            <p class="text-body2 sm:text-body1 font-bold text-secondary-white">Map stakeholders and
                                risks.</p>
                        </li>
                        <li class="flex justify-start items-center gap-[10px]">
                            <i class="ri-circle-fill text-[10px] text-primary-light"></i>
                            <p class="text-body2 sm:text-body1 font-bold text-secondary-white">Audit data and workflows.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- <script src="https://cdn.jsdelivr.net/npm/preline@latest/dist/preline.js"></script> -->