<meta charset="utf-8" />
<title>{{ title }} | Aithos</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta content="Cyber Security" name="description" />
<meta content="override" name="Aithos" />
<!-- favicon -->
<link rel="shortcut icon" href="assets/images/favicon.svg" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" />

<!-- swiper  -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<!-- aos  -->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<!-- glight  -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />